# .NET
backend/**/bin/
backend/**/obj/
backend/**/*.user
backend/**/*.suo
backend/**/.vs/

# Vue / Node
frontend/**/node_modules/
frontend/**/.env.local
frontend/**/dist/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# k6 binaries & transient
k6.zip
k6/k6-v*/
k6/token.txt
replication/loadtest/token.txt
replication/loadtest/ids.json
